@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rizzy's Project</h1>
    <p class="lead">This my MVC assignment check out my cool friends by navigating yourself through the NavBar above!</p>
   
</div>

